* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: url('../utils/shattered-island.gif');
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  align-items: center;
}

.startTitle {
  color: aliceblue;
  margin-right: 2vmin;
}
.endTitle {
  color: aliceblue;
  margin-left: 2vmin;
}
